[Unit]
Description=Creative Commons Cat Pictures Onion Service Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop cccptor
ExecStartPre=-/usr/bin/docker rm cccptor
ExecStartPre=-/usr/bin/docker pull ajhaydock/cccp:tor
ExecStart=/usr/bin/docker run --cap-drop=all --name cccptor -v /home/cats/hiddenservice:/var/lib/tor/hiddenservice ajhaydock/cccp:tor
ExecStop=/usr/bin/docker stop cccptor

[Install]
WantedBy=multi-user.target
